<h2>Add Admission Rule</h2>
<div class="large-12 columns">

</div>
    
<form id="add-student-form">
    <div class="row">
        <div class="large-12 columns">
            <label>Admission Rule Description
                {{input value=description id="description" type="text"}}
            </label>
            
        </div>
    </div>
    
</form>
<a href="#" class="button radius" {{action 'addAdmissionRule'}}>Save</a>