<div class="large-9 columns">
    {{outlet}}
</div>


<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Distribution</h4></div>
            <p>{{#link-to 'purple.itrs'}}Student ITRs{{/link-to}}</p>
            <p>{{#link-to 'distribute'}}Distribute{{/link-to}}</p>
            <p>{{#link-to 'purple.distribution-results'}}Distribution Results{{/link-to}}</p>
            <p>{{#link-to 'purple.admission-rules'}}Manage Admission Rules{{/link-to}}</p>
            <p>{{#link-to 'purple.comment-codes'}}Distribution Comment Codes{{/link-to}}</p>
    </div>
</div>
