<div class="large-9 columns">
    {{outlet}}
</div>
<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Grades</h4></div>
        <p>{{#link-to 'purple.grades'}}View Grades{{/link-to}}</p>
        <p>{{#link-to 'purple.manage-grades'}}Add/Import Grades{{/link-to}}</p>
    </div>
</div>
