<div class="large-9 columns">
    {{outlet}}
</div>
<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Settings</h4></div>
            <p>{{#link-to 'purple.faculties'}}Edit Faculties{{/link-to}}</p>
            <p>{{#link-to 'purple.departments'}}Edit Departments{{/link-to}}</p>
            <p>{{#link-to 'purple.program-admins'}}Edit Program Administrators{{/link-to}}</p>
            <p>{{#link-to 'purple.program-records'}}Edit Program Records{{/link-to}}</p>
            <p>{{#link-to 'purple.programs'}}Edit Program Codes{{/link-to}}</p>
            
            <p>{{#link-to 'purple.term-codes'}}Edit Term Codes{{/link-to}}</p>
            <p>{{#link-to 'purple.course-codes'}}Edit Course Codes{{/link-to}}</p>
            <p>{{#link-to 'purple.degree-codes'}}Edit Degree Codes{{/link-to}}</p>
    </div>
</div>

