<div class="large-9 columns">
    {{outlet}}
</div>
<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Edit Students</h4></div>
        <p>{{#link-to 'green.students'}}Search Students{{/link-to}}</p>
        <p>{{#link-to 'green.add-student-form'}}Add Student{{/link-to}}</p>
        <p>{{#link-to 'green.upload-students'}}Upload Student{{/link-to}}</p>
    </div>
    <div class="side-nav">
        <div class="side-nav-title"><h4>Edit Student Info</h4></div>
        <p>{{#link-to 'green.residencies'}}Residencies{{/link-to}}</p>
        <p>{{#link-to 'green.genders'}}Genders{{/link-to}}</p>
        <p>{{#link-to 'green.loads'}}Academic Loads{{/link-to}}</p>
        <p>{{#link-to 'green.countries'}}Countries{{/link-to}}</p>
        <p>{{#link-to 'green.provinces'}}Provinces{{/link-to}}</p>
        <p>{{#link-to 'green.cities'}}Cities{{/link-to}}</p>
    </div>
</div>