<h2>Welcome to The Western Engineering Admission System</h2>
<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Edit Codes</h4></div>
        <p>{{#link-to 'purple.programs'}}Program Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.term-codes'}}Term Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.course-codes'}}Course Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.degree-codes'}}Degree Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.comment-codes'}}Comment Codes{{/link-to}}</p>
    </div>
</div>

<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Edit Students</h4></div>
        <p>{{#link-to 'green.students'}}Search Students{{/link-to}}</p>
        <p>{{#link-to 'green.add-student-form'}}Add Student{{/link-to}}</p>
        <p>{{#link-to 'green.upload-students'}}Upload Students{{/link-to}}</p>
        <p>{{#link-to 'green.upload-grades'}}Upload Grades{{/link-to}}</p>
    </div>
</div>

<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Edit Student Info</h4></div>
        <p>{{#link-to 'green.residencies'}}Residencies{{/link-to}}</p>
        <p>{{#link-to 'green.genders'}}Genders{{/link-to}}</p>
        <p>{{#link-to 'green.loads'}}Academic Loads{{/link-to}}</p>
        <p>{{#link-to 'green.countries'}}Countries{{/link-to}}</p>
        <p>{{#link-to 'green.provinces'}}Provinces{{/link-to}}</p>
        <p>{{#link-to 'green.cities'}}Cities{{/link-to}}</p>
    </div>
</div>

<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Edit Codes</h4></div>
        <p>{{#link-to 'purple.programs'}}Program Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.term-codes'}}Term Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.course-codes'}}Course Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.degree-codes'}}Degree Codes{{/link-to}}</p>
        <p>{{#link-to 'purple.comment-codes'}}Comment Codes{{/link-to}}</p>
    </div>
</div>
