<form id="add-student-form">
        <h2>Add new Residency</h2>
        <div class="row">
            <div class="large-12 columns">
                <label>Residency
                  {{input value=residency  id="residency" type="text"}}
                </label>
            </div>
        </div>
    </form>
    <br>
    <a href="#" class="button radius" {{action 'addResidency' residency}}>Save</a>
    <a href="#" class="button radius" >Cancel</a>
    <input href="#" class="button radius" type='file' accept='file_extension|.csv,.xlsx' id='uploadButton' onchange={{action 'uploadResidencies' value="target"}}>