<form id="add-student-form">
    <h2>Add new Load</h2>
    <div class="row">
        <div class="large-12 columns">
            <label>Load
              {{input value=load id="load" type="text"}}
            </label>
        </div>
    </div>
</form>
<br>
<a href="#" class="button radius" {{action 'addLoad'}}>Save</a>

{{!--<a href="#" class="button radius" {{action 'addGender'}}>Testing Add Gender</a>--}}
<a href="#" class="button radius" >Cancel</a>
