<h2>Upload Student Data</h2>

{{#if MST01IsPermitted}}
    {{green.student-file}}
{{else}}
    <p>You do not have the permission to Upload student files (MST01)</p><br>
    <p>Contact an administrator</p>
    {{/if}}